/***** Esercizio 01 *****/
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    
    background-color: transparent;
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: red;
}


/***** Esercizio 02 *****/
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;

    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}


/***** Esercizio 03 *****/
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;

    border-radius: 0;
    transition: border-radius 500ms;
}

.ex-3-square:hover {
    border-radius: 50%;
}


/***** Esercizio 04 *****/
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;

    opacity: 1;
    transition: opacity 800ms;
}

.ex-4-square:hover {
    opacity: 0;
}


/***** Esercizio 05 *****/
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;

    transform: scale(1);
    transition: transform 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}


/***** Esercizio 06/07/08 *****/
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/***** Esercizio 06 *****/
.ex-6-img:hover {
    filter: grayscale(1);
}


/***** Esercizio 07 *****/
.ex-7-img {
    transition: filter 2s;
}

.ex-7-img:hover {
    filter: grayscale(0.5) sepia(0.5);
}


/***** Esercizio 08 *****/
.ex-8-img {
    border-radius: 0;
    transition: filter 2s, border-radius 2s;
}

.ex-8-img:hover {
    border-radius: 20px;
    filter: grayscale(0.5) sepia(0.5);
}


/***** Esercizio 09 *****/
.ex-9-img {
    margin: 50px 100px;
    width: 400px;

    border-radius: 0;
    transform: scale(1);
    transition: filter 2s, border-radius 2s, transform 2s;
}

.ex-9-img:hover {
    border-radius: 20px;
    filter: grayscale(0.5) sepia(0.5);
    transform: scale(1.5);
}


/***** Esercizio 10 *****/
.ex-10-icon {
    font-size: 60px;

    transform: rotate(0);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-1turn);
    }
}


/***** Esercizio 11 *****/
.ex-11-icon {
    font-size: 60px;

    transform: rotate(0);
}

.ex-11-icon:hover {
    animation: rotateAndRewind 1.2s linear;
}

@keyframes rotateAndRewind {
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(0.9turn);
    }
    100% {
        transform: rotate(0);
    }
}


/***** Esercizio 12/13 *****/
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}


/***** Esercizio 12 *****/
.ex-12-button:hover .ex-12-top-white{
    animation: translateTop 1s linear 2 alternate;
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: translateBottom 1s linear 2 alternate;
}

@keyframes translateTop {
    from {
        left: 10%;
    }
    to {
        left: 60%;
    }
}

@keyframes translateBottom {
    from {
        right: 20%;
    }
    to {
        right: 60%;
    }
}


/***** Esercizio 13 *****/
.ex-13-button:hover .ex-13-top-white{
    animation: turnTop 2s linear;
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: turnBottom 2s linear;
}

@keyframes turnTop {
    0% {
        top: -10px;
        left: 10%;
    }
    30% {
        top: -10px;
        left: calc(100% - 30px);
    }
    50% {
        top: calc(100% - 10px);
        left: calc(100% - 30px);
    }
    80% {
        top: calc(100% - 10px);
        left: -10px;
    }
    95% {
        top: -10px;
        left: -10px;
    }
    100% {
        top: -10px;
        left: 10%;
    }
}

@keyframes turnBottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        bottom: -10px;
        right: calc(100% - 30px);
    }
    50% {
        bottom: calc(100% - 10px);
        right: calc(100% - 30px);
    }
    80% {
        bottom: calc(100% - 10px);
        right: -10px;
    }
    95% {
        bottom: -10px;
        right: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}